/* Resize the slides to fit on my trust 12 inch powerbook */
body {
  height: 920px;
  overflow: hidden;
}
body #preso { 
   width: 1000px;
   height: 740px;
}
body #footer { 
   position: relative;
   top: -44px;
   padding: 2px 12px;
   width: 996px;
   height: 18px;
   border-bottom: 50px solid #fff;
}
table#support {
  /*width: 80%;*/
  font-size:2.5em;
  margin: 0 auto;
}
table#support td,
table#support th{
  text-align: center;
}
table#support th.top{
  padding: 0.3em;
}
table#support th.right{
  text-align: right;
}
