table#support {
  /*width: 80%;*/
  font-size:2.5em;
  margin: 0 auto;
}
table#support td,
table#support th{
  text-align: center;
}
table#support th.top{
  padding: 0.3em;
}
table#support th.right{
  text-align: right;
}

